body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  position: relative;
  min-height: 100%;
}

.sidebar_elements {
  border-bottom: 1px solid #aaa6a6;
  padding: 10px;
  padding-left: 20px;
}

.sidebar_elements.selected {
  background-color: slategrey;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px 20px;
}

.center-align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.allproducts{
  padding-left: 250px;
}
.productSelect{
  display: none !important;
}
.collapse:not(.show) {
  display: block !important;
}

@media (max-width: 767px) {
  aside {
    display: none;
  }
  .allproducts{
    padding-left: 0px;
  }
  .productImg{
    width: 45% !important;
    float: left;
    height: auto !important;
    margin-right: 8px;
  }
  .productSelect{
    display: block !important;
  }
}